<div class="main user-show">
  <div class="container">
    <div class="user">
     <h1 class="form-heading"><%=@user.name %></h1>
     <% if @user.id == @current_user.id %>
        <%= link_to("/users/#{@user.id}/edit") do %>
          <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%end%>
      <% end %>
      <p><%= @user.email %></p>
    </div>
    
    <ul class="user-tabs">
      <li><%= link_to("post", "/users/#{@user.id}") %></li>
      <li class="active"><%= link_to("good", "/users/#{@user.id}/likes") %></li>
    </ul>
    
    <% @likes.each do |like| %>
      <% post = Post.find_by(id: like.post_id) %>
      <div class="posts-good-item">
        <div class="post-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>">
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <%= link_to(post.post_title, "/posts/#{post.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>