<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <div class="postitem">
        <p><%= @post.post_title %></p>
        <img src="<%= "/pic_images/#{@post.pic_image}" %>">
      </div>
      <div class="postcontent">
        <%= simple_format(@post.content) %>
      </div>
      <div class="post-time">
        <%= @post.created_at %>
      </div>

      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy",{method:"post"}) do %>
          <span class="fa fa-heart like-btn-unlike"></span>
        <%end%>
      <%else%>
        <%= link_to("/likes/#{@post.id}/create",{method:"post"}) do %>
          <span class="fa fa-heart btn-like"></span>
        <%end%>
      <%end%>
      <%= @likes_count %>
      <% if @post.user_id == @current_user.id %>
       <div class="post-menus">
        <%= link_to("edit", "/posts/#{@post.id}/edit") %>
        <%= link_to("delete", "/posts/#{@post.id}/destroy", {method: "post"}) %>
       </div>
      <% end %>

      <!--
        <div class="post-menus">
          <%= link_to("comment","/posts/#{@post.id}/comment")%>
        </div>
      -->

    </div>
  </div>
</div>
















